*{
    box-sizing: border-box;

}

body{
    background-color: #1C1C1C;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-gen{
    width: 100%;
    background-color: #1F2937;
    max-width: 550px;
    padding: 2rem 3rem;

}

#password-request{
    margin-top: 5rem;
}

#password-output{
    margin-top: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #2F3E53;
    display: flex;
    justify-content: space-between;

}



h1{
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.9rem;
   
}

h2{
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #D5D4D8;
    margin-bottom: 4rem;
}

button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #10B981;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.password{
   display: flex;
    background-color: #273549;
    border-radius: 0.5rem;
    max-width: 211px;
    height: 39px;
    width: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  
}

.green{
    color: #4ADF86;
}

@media screen and (max-width:535px) {
    
    #password-request{
        text-align: center;
    }
    
    
    #password-output{
      
       
        flex-direction: column;
        align-items: center;
        
    
    }

    .password{
        margin-bottom: 1rem;
        max-width: 100%;
        width: 100%;
    }
}